<a href="https://colab.research.google.com/github/deepakagrawal/Pandas_Tutorial/blob/master/1-Python_Beginner_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resources

* https://www.python.org/
* https://docs.scipy.org/
* https://www.python.org/about/gettingstarted/

## Installing Python

There are many distributions of python available for installation for wide variety of platforms. Some of the most popular distributions are 
* **Anaconda**,
* **Python (x,y)** (Mainly for windows)

These distributions come standard with most common libraries needed for Data Science and Optimization

In today's workshop we are going to use Anaconda. 
[64bit](https://repo.anaconda.com/archive/Anaconda3-2019.03-Windows-x86_64.exe)

# Hello World!!

In [0]:
print("hello world!!")
# shift + enter to run the code
# #meanscomments

## Few things about Python
* **Python is Interpreted**: Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.

* **Python is Interactive**: You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.

* **Python is Object-Oriented**: Python supports Object-Oriented style or technique of programming that encapsulates code within objects.

* **Python is a Beginner's Language**: Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

* **Python can be easily integrable**: Python can be integrated with C, C++, COM, ActiveX, CORBA, and Java, R, Spark and many more languages.

* **GUI Programming**: Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.

# Input

In [0]:
ipt=input("what's your name?")
print("User's name is "+ipt)

## Multiple Assignments

In [0]:
## tips
a,b,c = 1,2,3
print(a,b,c)

In [0]:
# tips
a=b=c=9
print(a, b, c)

## Multiple Statements on a Single Line

In [0]:
a += 1; b = c+2; c= 0
print (a,b,c)

## Deleting Vatiables

In [0]:
del a
a

# Basic Data Types: string, integer, float, boolean

In [0]:
#Everything in python is objects
#Once class of the variable is known
#all of the functions/
Var='Hello World!'  ##string
Var2=99             ##integer
var_3=0.314         ##float
var4=True           ##boolean
print(Var,Var2,var_3,var4) ## output different variables use , to seperate them

In [0]:
## everything is an object
print(Var.upper())
print(Var.lower())
print(Var.count("o"))

## Check the data types

In [0]:
## use type() function to check the type of variables
print(Var,'is',type(Var))
print(Var2,'is',type(Var2))
print(var_3,'is',type(var_3))
print(var4,'is',type(var4))

## Convert the data types

In [0]:
# use int(x) or str(x) or float(x) or bool(x) to convert respectively
print("the datatype of Var2 is:",type(Var2))
print("the datatype of str(Var2) is:",type(str(Var2)))
print("the datatype of float(Var2) is:",type(float(Var2)))
print("the datatype of bool(Var2) is:",type(bool(Var2)))

# Compound Data Types: List, Tuple, Dictionary (AKA Sequence Types)

In [0]:
## can be heterogeneous
l=[1,'a',False,0.314]
print(l,type(l))
t=(1,'a',False,0.314)
print(t,type(t))
d={"arp_cd":'BOS',"lat_deg":42,"lat_min":21,"lat_sec":51,"lat_hem_cd":"N","lng_deg":71,\
   "lng_min":0,"lng_sec":20,"lng_hem_cd":"W"} ## notice the backslash for nextline
print(d,type(d))

In [0]:
## access values inside of them using index
## index start with 0 to lenght-1
print(l[0])   ## the first element
print(l[-1])  ## the last one element 
print(t[2])   ## the third element
print(t[0:2]) ## first two elements
print(t[2:])  ## rest of elements after the second elements

## List

In [0]:
## sort then if it contains same type of elements
l=[1,5,36,263,675,2,4,6]
l.sort()
print(l)
l=['DFW','JFK','LAX','ABQ','MIA']
l.sort()
print(l)

In [0]:
## add new element
print("old list:",l)
l.append("MCO")
print('new list:',l)

In [0]:
## common mistake
l=['DFW','JFK','LAX','ABQ','MIA']
a = l
print("list a:",a)
a[2]="ORD"  ## this is how we can access and change the value
print("list l:",l)

In [0]:
l=['DFW','JFK','LAX','ABQ','MIA']
print("list l:",l)
a = list(l)
print("list a:",a)
a[2]="ORD"
print("list l:",l)
print("list a:",a)

In [0]:
l=['DFW','JFK','LAX','ABQ','MIA','MIA','LAX']
print(len(l))
print(set(l))
print(len(set(l)))

## Tuple

In [0]:
t=('DFW','JFK','LAX','ABQ','MIA')
print(t)
print(type(t))

In [0]:
print(t[3])
t[3] = "ORD"

##### why we need use tuple????

* security? not really if I know the name of the value, I can overwrite it || I can convert it
* check the function of list
* check the function of tuple
* tuple is much more "light" than list
* therefore, reading/finding base within a tuple is much faster than within a list
* around 7 times
###### example:
    
Therefore, when we are searching inside of a list, change it to tuple, and convert it back to list

In [0]:
timeit l = ["fee", "fie", "fo", "fum"]

In [0]:
timeit t = ("fee", "fie", "fo", "fum")

# Dictionary

In [0]:
## how to access the dictionary
d={"org_arp_cd":'DFW',"dst_arp_cd":'LAX',"lcl_dep_dtm":'2017-10-12 08:40'}
print(d)
print(d.keys())
print(d.values())
print(d["org_arp_cd"])
print("the value of the first key " + tuple(d.keys())[0] + " is =" + d[tuple(d.keys())[0]])

In [0]:
new_Dict = {'key1': [[1,2], [3], [4,5,6], [[3,4,5]]]}

In [0]:
## change the value
d["org_arp_cd"]='JFK'
print(d)

In [0]:
##add new keys and values
d['lcl_arv_dtm']='2017-10-12 10:22'
print(d)

In [0]:
## delet keys
del d['lcl_arv_dtm']
print(d)

In [0]:
## adding new keys and values like this is not efficient
##how to create a dictionary with given lists
arp_list = [['DFW', 'CLT'], ['ATL', 'DTW'], ['ORD', 'EWR']]
aln_list = ['AA', 'DL', 'UA']
dict(zip(aln_list,arp_list))
## first location put keys, second location put values

# Operators

## Math Operators

In [0]:
## + - * /
a = 4 + 6
print(a)
a = 5 - 3
print(a)
a = 5 * 3
print(a)
a = 5/3
print(a)

In [0]:
## power   integer division
a = 2 ** 10
print(a)
a = 10//3
print(a)

In [0]:
#string
print(Var)
print(Var+Var)
print(Var*4)

In [0]:
# list
print(d.keys())
print(d.values())
print(list(d.keys()) + list(d.values()))
print(list(d.values())*10)

## Comparisons

In [0]:
## <, <=, >, >=, ==, !=, is, is not, in
## results from comparisions are boolean
a = 2<1
print(a)
a = 5!=3
print(a)
a = 5 is not 3
print(a)
a = 5 is 3
print(a)
a = "h" in "hello"
print(a)
a = 1 in l
print(a)

In [0]:
## what is difference between    ==    and    is
l=[1,2,4,5,6]
a=l
print(a)
print(a == l)
print(a is l)
print(id(a))
print(id(l))
a=list(l)
print(a)
print(a == l)
print(a is l)
print(id(a))
print(id(l))
## use is only when test if a is None/missing value
## use == all the time

## Boolean Operations

In [0]:
print(2<1 and 5!=3)
print(2<1 or 5!=3)
a = 2<1 or 5!=3
print(a)
print(not a)

# Control Flows: if, for, while

# if statement

In [0]:
x = int(input("please enter an integer:"))
if x<0:
    print('negative number')
elif x==0:
    print('zero')
elif x==1:
    print('Single')
else:
    print('More')

## for statement

In [0]:
d={"org_arp_cd":['DFW','DFW','LAX'],"dst_arp_cd":['LAX','LAX','DFW'],\
   "lcl_dep_dtm":['2017-10-12 08:40','2017-10-12 10:00','2017-10-12 09:40']}
print(d)
for i in d.keys():
    print(i, d[i])

In [0]:
for i in d.keys():
    for j in d[i]:
        if j == "DFW":
                print(j,i)

In [0]:
for i in range(5):
    print(i,l[i])

In [0]:
for i in range(2,5):
    print(i,l[i])

In [0]:
for i in range(0,5,2):
    print(i,l[i])

### List Comprehensions

In [0]:
L = [i**2 for i in range(5)]
print(L)

In [0]:
L = [i**2 if i<3 else i**0.5 for i in range(5) ]
print(L)

In [0]:
L1 = [i*j for i in range(5) for j in range(5)]
L2 = [[i*j for i in range(5)] for j in range(5)]
print(L1)
print(L2)

In [0]:
%timeit L= [[i*j for i in range(50)] for j in range(50)]

In [0]:
%%timeit 
L = list()
for i in range(50): 
    for j in range(50):
        L.append(i*j)

## While

In [0]:
a=0
while a<5:
    print(a)
    a+=1

## break, pass, continue

In [0]:
b=0
while True:
    b+=1
    a = input('pass?(y/n)')
    if a == 'y':
        pass
    if a == 'n':
        continue
    if b>3:
        break
    print(b)

# Function and Class

## Function

In [0]:
from math import cos, sin, asin,acos, sqrt #import modules

def hav(x):
    return (sin(x/2))**2


def haversinedist(x1,x2,y1,y2,r = 3959):
    h = hav(x2-x1) + cos(x1)*cos(x2)*hav(y2-y1)
    return 2*r*asin(sqrt(h))

In [0]:
## DFW-LAX distance
haversinedist(0.5742,0.5924,-1.6936,-2.0666)

In [0]:
## Inline functions
hav = lambda x: (sin(x/2))**2
haversinedist = lambda x1,x2,y1,y2: 2*3959*asin(sqrt(hav(x2-x1) + cos(x1)*cos(x2)*hav(y2-y1)))
haversinedist(0.5742,0.5924,-1.6936,-2.0666)

## Class

In [0]:
class arp:
    def __init__(self, arp_cd, lat_rad, lng_rad, wac, country):
        self.arp_cd = arp_cd
        self.lat_rad = lat_rad
        self.lng_rad= lng_rad
        self.wac = wac
        self.country = country
    def Set_arp_cd(self, new_arp_cd):
        old_arp_cd = self.arp_cd
        self.arp_cd = new_arp_cd
        print("The arp_cd was chaned from" + old_arp_cd + "to" + self.arp_cd)
    def get_arp_cd(self):
        return self.arp_cd
    def get_cord(self):
        return [self.lat_rad,self.lng_rad]
    def get_dist(self, airport):
        return haversinedist(self.lat_rad,airport.get_cord()[0], self.lng_rad, airport.get_cord()[1])

In [0]:
DFW = arp('DFW',0.5742,-1.6936,74, 'US')
LAX = arp('LAX',0.5924,-2.0666,91, 'US')
DFW.get_dist(LAX)

## File I/O

In [0]:
outfile = open('test.txt','w')
outfile.write("Hello World!")
outfile.close()

In [0]:
with open('test.txt','r') as infile:
    for line in infile:
        print(line)
        break

# Installing modules

Modules/Libraries/Packages can be installed using several different ways from `command prompt/terminal`

* pip install numpy
* conda install numpy
* download the package binary from http://www.lfd.uci.edu/~gohlke/pythonlibs/
* download the source file and run (build and install)
  ``python setup.py install``

**NOTE: Will not work with enterprise connection**

## Importing Modules

## Numpy

In [0]:
import numpy as np

In [0]:
l = [1,2,3,4]
print(l)
print(l+l)
print(np.array(l)+np.array(l))

In [0]:
print(np.mean(l),np.var(l),np.std(l))

In [0]:
## Random Number Generation
print(np.random.random([10,10]))

In [0]:
## Create empty array
np.empty([10,5])

In [0]:
a = np.random.randint(0,10,[4,5])
print(a)
print(a.shape)
print('########################')
b = np.empty_like(a)
print(b)
print(b.shape)

In [0]:
print(type(a))
print(a.dtype)
print(np.random.random([10,5]).dtype)

#### List vs Numpy Array

* Numpy is written in C
* Speed and functionality
* NumPy's arrays are more compact than Python lists (low memory usage)

### None vs Nan vs NA

In [0]:
a = None
b = np.NAN

In [0]:
print(type(a))
print(type(b))